body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.jumbotron {
    background-color: #EEE;
    border-bottom: 1px solid #721C15;
    padding: 90px 0 48px;
}

.jumbotron .hero-content {
    text-align: left;
}

.jumbotron h1 {
    font-size: 80px;
    letter-spacing: -2px;
}

.jumbotron .btn-large {
    font-weight: bold;
    font-size: 18px;
    padding: 13px 23px 13px 22px;
    margin-right: 10px;
    text-align: left;
}

.hero-unit small {
    font-size: 75%;
}
ul.features {
    text-indent: -0.5em;
}
ul.features li {
    line-height: 2.5em;
}
.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}