<?php

// keep this to load the dotenv package
// only if the config file is used
$dotenv = new Dotenv\Dotenv(__DIR__);
$dotenv->load();

// return the configuration
return [
    'paths' => [
        'migrations' => __DIR__ . '/migrations',
    ],
    'environments' => [
        'default_migration_table' => 'phinxlog',
        'default_database' => getenv('APP_ENV'),
        'develop' => [
            'adapter' => getenv('DB_ADAPTER_DEV'),
            'host' => getenv('DB_HOST_DEV'),
            'name' => getenv('DB_NAME_DEV'),
            'user' => getenv('DB_USER_DEV'),
            'pass' => getenv('DB_PASS_DEV'),
            'port' => getenv('DB_PORT_DEV'),
        ],

        /**
        // add more environments here

        // 'production' => [
        //    'adapter' => getenv('DB_ADAPTER_PROD'),
        //     etc...
        // ]

        // */
    ],
];
