parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        - '#Parameter \#2 \$callback of function array_filter expects callable\(mixed, mixed\): bool, .+ given.#'
