includes:
	- phpstan-baseline.neon

parameters:
	level: 6
	treatPhpDocTypesAsCertain: false
	paths:
		- src/
	ignoreErrors:
		- '#Unsafe usage of new static\(\)\.#'
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
