parameters:
	ignoreErrors:
		- '#Undefined variable: \$lastException#'
		- '#Access to undefined constant PDO::SQLSRV_ATTR_ENCODING#'
		- '#Call to an undefined method Phinx\\Migration\\MigrationInterface::change\(\)#'
