<?php
$namespaceDefinition

use $useClassName;

/**
 * $className migration
 *
 * @deprecated up() This method is deprecated and will be removed in a future release. Use change($direction).
 * @deprecated down() This method is deprecated and will be removed in a future release. Use change($direction).
 * @todo Refactor existing migrations from up()/down() to change($direction)
 */
class $className extends $baseClassName
{
    /**
     * Change Method.
     *
     * Write your reversible migrations using this method.
     *
     * More information on writing migrations is available here:
     * http://docs.phinx.org/en/latest/migrations.html#the-abstractmigration-class
     *
     * The following commands can be used in this method and Phinx will
     * automatically reverse them when rolling back:
     *
     *    createTable
     *    renameTable
     *    addColumn
     *    addCustomColumn
     *    renameColumn
     *    addIndex
     *    addForeignKey
     *
     * Any other destructive changes will result in an error when trying to
     * rollback the migration.
     *
     * Remember to call "create()" or "update()" and NOT "save()" when working
     * with the Table class.
     *
     * @param string|null $direction Will be \Phinx\Migration\MigrationInterface::UP or \Phinx\Migration\MigrationInterface::DOWN
     */
    public function change($direction = null)
    {

    }
}
