<?php
return array(
    "paths" => array(
                    "migrations" => "%%PHINX_CONFIG_DIR%%/db/migrations",
                    "seeds"      => "%%PHINX_CONFIG_DIR%%/db/seeds"
                ),
    "environments" => array(
        "default_database" => "development",
        "default_migration_table" => "phinxlog",
        "production" => array(
                               "adapter" => "mysql",
                               "host"    => "localhost",
                               "name"    => "production_db",
                               "user"    => "root",
                               "pass"    => '',
                               "port"    => 3306,
                               "charset" => "utf8"
                            ),
        "development" => array(
                               "adapter" => "mysql",
                               "host"    => "localhost",
                               "name"    => "development_db",
                               "user"    => "root",
                               "pass"    => '',
                               "port"    => 3306,
                               "charset" => "utf8"
                            ),
        "testing" => array(
                               "adapter" => "mysql",
                               "host"    => "localhost",
                               "name"    => "testing_db",
                               "user"    => "root",
                               "pass"    => '',
                               "port"    => 3306,
                               "charset" => "utf8"
                            ),
        )
);