---
name: 'deploy_docs_0x'

on:
  push:
    tags:
      - 0.*
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to run on
        default: 0.x
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@apps.cakephp.org:22/phinx-docs'
          ssh_private_key: ${{ secrets.DOKKU_SSH_PRIVATE_KEY }}
